# Dependencies
node_modules/
dist/

# Cloudflare
.wrangler/
.dev.vars

# Env
*.local
.env

# OS
.DS_Store

# Editor
.vscode/
.idea/
videoplayback.mp3
Alegend - Majestic (freetouse.com).mp3
Tap.mp3
Tuang air.mp3
swipe.mp3
bubble.mp3
Wind.mp3
shine.mp3
Breaking.mp3
Mouse.mp3
